# common
.DS_Store
Thumbs.db
*.log
*.tmp

# IDE
.idea/
.vscode/

# backend
backend/.gradle/
backend/build/
backend/out/
backend/uploads/

# backend secrets
backend/src/main/resources/application-secret.yml

# frontend
frontend/node_modules/
frontend/dist/

# frontend env
frontend/.env
frontend/.env.*

# root env
.env
.env.*

# editor temp
*.swp
*.swo